#topo{
    text-align: center;
    font-size: 15px;
    font-family:sans-serif;
    color: rgb(255, 207, 49);
}
img#perfil{
    position: relative;
    border-radius: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 10px;
}
#nome{
    position: relative;
    font-size: 20px;
    text-align: center;
    color:rgb(240, 240, 240);
    font-family: 'Mongolian Baiti', serif;
}
#email{
    position: relative;
    font-size: 13px;
    text-align: center;
    color:rgb(163, 163, 163);
    font-family: 'Mongolian Baiti', serif;
}
ion-content{
    --background: #333333;
    background-size: cover;
  }
  